<section data-ng-controller="HomeController">

	<link rel="stylesheet" href="../../game/css/main.css" />

    <h1>Create New Game</h1>
      
      <h3>Game Title</h3>
        <input placeholder="Title"/>
      <br>
      <br>
      <br>

      <h3>Add Terms</h3>
	<input placeholder="Term"/>
	<a href="#" class="button">Add</a>
      <br>
      <br>
	  
      <ul class="button-group">
        <li><h3>Board size</h3></li>
        <li><div href="#" class="button">4X4</div></li>
        <li><div href="#" class="button">5X5</div></li>
      </ul>
      <h3>You have x terms.</h3>
      <h3>A minumum of y is required with the selected board size.</h3>
      <br>
      <br>

      <h3>Free Space?</h3>
      <div class="switch">
        <input id="exampleCheckboxSwitch" type="checkbox">
        <label for="exampleCheckboxSwitch"></label>
      </div> 

    <div class="button">Start!</div>

</section>









<!-- <section data-ng-controller="ArticlesController">
	<div class="page-header">
		<h1>New Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section> -->