<section data-ng-controller="HomeController">
<p>This is the view for joining a game. Existing games should be found here.</p>
<link rel="stylesheet" href="../../game/css/main.css" />

 <h1>Active Games!</h1>
    <div class="panel">
      <table width="100%">
        <thead>
          <tr><th>Game</th><th>Current Number of Players</th>
        </thead>
        <tbody>
           <tr><td><a href="#" class="button" id="game">CS 360 Baby!!!</a></td><td>8</td></tr>
           <tr><td><a href="#" class="button" id="game">blah blah blah</a></td><td>2</td></tr>
           <tr><td><a href="#" class="button" id="game">KSL News(102.7 FM)</a></td><td>20</td></tr>
           <tr><td><a href="#" class="button" id="game">bored please help!</a></td><td>1</td></tr>
           <tr><td><a href="#" class="button" id="game">Cougareat Employees</a></td><td>11</td></tr>
        </tbody>  
      </table>  
    </div>   

</section>
