<section data-ng-controller="HomeController">

<link rel="stylesheet" href="../../../lib/foundation/css/foundation.css"/>
<link rel="stylesheet" href="../../game/css/main.css" />


  
  <div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
	    <li><label>Menu</label></li>
        <li><a href="#">View Profile</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </aside>

    <section class="main-section">
	  <h1>View Profile</h1>
        <label>Games won</label>
        <label>Games lost</label>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

<script src="../../../lib/foundation/js/vendor/jquery.js"></script>
<script src="../../../lib/foundation/js/foundation/foundation.js"></script>
<script src="../../../lib/foundation/js/foundation/foundation.offcanvas.js"></script>
<script>$(document).foundation();</script>
  
</section>
