<section data-ng-controller="GameController">
<p>This is the view for the Game Board</p>


<link rel="stylesheet" href="../css/main.css" />

<h1>CS 360 Baby!!!</h1>
    <table align="center">
      <tbody>
        <tr><td class="cell">Boring</td><td class="cell" id="selected">Serriously</td><td class="cell">Duh!</td><td class="cell">Um..</td></tr>
         <tr><td class="cell">1</td><td class="cell">2</td><td class="cell">3</td><td class="cell">4</td></tr>
         <tr><td class="cell">Dawg</td><td class="cell">5</td><td class="cell">6</td><td class="cell">0</td></tr>
         <tr><td class="cell">7</td><td class="cell">8</td><td class="cell">9</td><td class="cell">10</td></tr>
      </tbody>  
    </table>  
    <br>
    <input type="text" placeholder="Talk smack..."/> 
</section>




